$lighter: rgb(80, 80, 80);
$light: #2c2f33;
$dark: #23272a;
$darker: black;

$dim: #969696;

$blue: #345bdc;
$vertigo: #7289da;
$red: #e3342f;
$green: #489c39;
$orange: #eb972a;
$link: #92acff;

$theme: $blue;