$lighter: rgba(white, 0.5);
$light: #303336;
$dark: #2c2f33;
$darker: #23272a;

$dim: #b3b3b3;

$blue: #345bdc;
$vertigo: #7289da;
$red: #ec4644;
$green: #00c452;
$orange: #f1a62d;
$link: #92acff;

$theme: $blue;